
@font-face {
  font-family: 'EffraLight-Regular';
  src: url('EffraLight-Regular.eot?#iefix') format('embedded-opentype'),  url('EffraLight-Regular.woff') format('woff'), url('EffraLight-Regular.ttf')  format('truetype'), url('EffraLight-Regular.svg#EffraLight-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
