<!DOCTYPE html>
<div style="background:#0333; height: 500px; position:relative">
  <div style="text-align:center">
   <div style="padding-top: 45px; width: 80%; background: #FFF; bottom: 0; right: 0; left: 0; top: 0; position: absolute; margin: auto; height: 400px;">
    <img src="http://54.197.43.10/static/images/logo/logo.png"/>
    <h2 style="padding-top: 30px;">Your account has been activated successfully. Please click below to login</h2>
    <div style="padding-top: 30px;">You've successfully created your Techoryze account. To activate it, please click below <br>to verify your email address.</div>
    <div style="padding-top: 50px;">
     <a href="http://54.197.43.10/en/logins" style="text-decoration: none;">
      <p style="background: #99ca3c; display: inline-block; padding: 20px 50px; color: white;">Login</p>
     </a>
    </div>
   </div>
  </div>
 </div>