<!DOCTYPE html>
<div style="background:#0333; height: 500px; position:relative">
  <div style="text-align:center">
   <div style="padding-top: 45px; width: 80%; background: #FFF; bottom: 0; right: 0; left: 0; top: 0; position: absolute; margin: auto; height: 400px;">
    <img src="http://54.197.43.10/static/images/logo/logo.png"/>
    <p style="padding-top: 30px;">We got a request to reset your techoryze password. </p>
    <div style="padding-top: 10px;">
     <a href="http://54.197.43.10/resetPassword" style="text-decoration: none;">
      <p style="background: #99ca3c; display: inline-block; padding: 20px 50px; color: white;">Reset Password</p>
     </a>
	  <p style="padding-top: 10px;">If you ignore this message, your password won't be changed.</p>
    </div>
   </div>
  </div>
 </div>