<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Online Code And Video For Kids And Teens | Tech Rocket</title>
<link rel="icon" href="../../images/logo/favicon.png" type="images/logo/favicon.png" />
<link href="../../css/otherPGpgsyle.css" rel="stylesheet" type="text/css">
<link href="../../css/style.css" rel="stylesheet" type="text/css">
<script src="../../js/jquery.js"></script>
<script src="../../js/webjs.js"></script>
<script src="../../js/bootstrap.min.js"></script>

</head>

<body>
<!--START HEADER-->
<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="container">
<div class="row">
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-10">
<img src="../../images/logo/logo.svg" width="174" height="58" class="margin-top6px">
</div>

<!--START NAVBAR-->
<nav class="col-lg-10 col-md-9 col-sm-12 col-xs-12 navigation overflowhidden padding-right0px margin-topNav768">
    <div class="navbar-header col-lg-12 col-xs-12 padding-right0px">
      <button type="button" class="navbar-toggle margin-right0px" data-toggle="collapse" data-target="#myNavbar">
       <span class="glyphicon glyphicon-th font-size22px"></span>
         <!--<span class="icon-bar"></span>
        <span class="icon-bar"></span> -->
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="bg-colorActive"><a class="transition" href="../../index.html">Code Courses</a></li>
        <li><a class="transition" href="../../game-design.html">Game Design Courses</a></li>
        <li><a class="transition" href="../../graphic-design.html">Graphic Design Courses</a></li> 
      </ul>
   

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 floatRight">
<div class="borderNone button font-size16px floatRight transition">Sign In</div>
</div>

 </div>
</nav>
<!--END NAVBAR-->

</div>
</div>
</header>
<!--END HEADER-->

<!--START article-->
<article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-footer">
<div class="container">
<div class="row">
<p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-0px"><a class="linknorTxt" href="../../codeCourses/hourOfCode.html">View all Hour of Code™ on Tech Rocket courses</a></p>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top20px padding0px">
<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"><img src="../../images/icon/Java_thumb_1.png" width="120" height="120"></div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 borderrigthVideoPG">
<h3 class="font-familyRobotoSlabRegular margin-top0px colorBlue">Tales from the JavaScript 1 Course</h3>
<p>You’re stuck in a spooky room with a ghost lurking about. Want to escape this madness? You’ll learn JavaScript Math and Variables, then use your new-found skills to print out the combination that let’s you escape this haunted house safely!</p>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="borderNone buttonVideoPg font-size16px transition col-lg-6 col-md-6 col-sm-12 col-xs-9 floatnone">Start New Course</div>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<p class="font-size14px margin-0px">LEVELS</p>
<h3 class="font-familyRobotoSlabRegular margin-top0px colorBlue">3</h3>
<p class="margin-top40px font-size14px margin-0px">CHALLENGES</p>
<h3 class="font-familyRobotoSlabRegular margin-top0px colorBlue">8</h3>
</div>
</div>

</div>
</div>
</article>
<!---END article--->

<!--START SECTION-->
<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-secImgVideoPg padding-secbottom80px overflowhidden">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-colorwhite height-160px"></div>
<div class="container">
<div class="row">

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-minus160px">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-radiusBot padding0px bg-colorwhite">
<div align="center" class="embed-responsive embed-responsive-16by9 paddingVideo">
    <video class="embed-responsive-item" controls poster="https://cdn-public.techrocket.com/uploads/End_Tech_Rocket_Strap_in_centered.png" preload="auto">
        <source src="https://cdn-public.techrocket.com/uploads/HOC_4.mp4" type="video/mp4">
    </video>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-5percent">
<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
<h4 class="colorgray">Course Prerequisites</h4>
<ul class="line-height35px">
   <li><strong>Platform:</strong> Windows or Mac</li>
   <li><strong>Software:</strong> No software needed!</li>
   <li><strong>Required Skills:</strong> N/A</li>
</ul>
</div>
<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 padding-top30px768scr">
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-5">
<img src="../../images/icon/Eddie-01.png" class="img-circle img-responsive thumb--s" width="128" height="128">
</div>
<div class="col-lg-9 col-md-8 col-sm-8 col-xs-7">
<p class="margin-0px font-size14px">INSTRUCTOR</p>
<h3 class="font-familyRobotoSlabRegular margin-0px">dEbug</h3>
<p>My name is dEbug and I'm here to teach you Code.</p>
<a class="linknorTxt font-size16px" href="../../instructorsBio/dEbug.html">View Full Bio</a>
</div>
</div>

</div>
</div>

</div>

</div>
</div>
</section>
<!--END SECTION-->


<!--START FOOTER-->
<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-colorFooter padding-footer">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 overflowhidden floatnone">
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
<img src="../../images/logo/logo.svg" width="135" height="45">
<p class="colorWhite">We are an online learning destination where kids and teens learn code, game design, and graphic design.</p>
<ul class="padding0px socialicon">
<li>FOLLOW US</li>
<li class="transition"><a class="transition" href="#"><span class="fa fa-youtube-play font-size14px"></span></a></li>
<li class="transition"><a class="transition" href="#"><span class="fa fa-facebook font-size14px"></span></a></li>
<li class="transition"><a class="transition" href="#"><span class="fa fa-twitter font-size14px"></span></a></li>
</ul>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 border-leftfotCont padding0px navFotul">
<ul>
<li><a href="#">Browse Courses</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">Instructors</a></li>
<li><a href="#">Enroll</a></li>
<li><a href="#">Sign In</a></li>
</ul>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 border-leftfotCont padding0px navFotul">
<ul>
<li><a href="#">Arcade</a></li>
<li><a target="_blank" href="#">Forums</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 border-leftfotCont paddingFotTxt768">
<h5 class="fotTxt margin-0px">ADDRESS</h5>
<p class="colorWhite margin-0px">910 E. Hamilton Ave, Ste. 300 Campbell, CA 95008</p>

<h5 class="fotTxt margin-0px">CONTACT</h5>
<p class="colorWhite margin-0px">Mon–Fri, 8am–3pm Pacific<br> 1-844-662-RCKT (7258)<br> 1-408-637-2400 (International)</p>
<a class="fottxtlink" href="#">info@techrocket.com</a>

<h5 class="fotTxt margin-0px margin-top20px">SCHOOL & GROUP SALES</h5>
<a class="fottxtlink" href="#">sales@techrocket.com</a>
</div>

</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 overflowhidden fotTxtColor2 font-size13px floatnone margin-auto margin-top20px">
<p>The Hour of Code™ is a nationwide initiative by Computer Science Education Week and Code.org to introduce millions of students to one hour of computer science and computer programming.</p>
<p>TECH ROCKET COURSES ARE NOT OFFICIAL MINECRAFT® PRODUCTS. 
THEY ARE NOT APPROVED BY, OR ASSOCIATED WITH MOJANG®.</p>
<p>© Tech Rocket / internalDrive, Inc. All Rights Reserved. 
All trademarks are the properties of their respective owners.</p> 
</div>

</div>
</div>
</footer>
<!--END FOOTER-->

</body>
</html>
