
@font-face {
  font-family: 'PoiretOne-Regular';
  src: url('PoiretOne-Regular.eot?#iefix') format('embedded-opentype'),  url('PoiretOne-Regular.woff') format('woff'), url('PoiretOne-Regular.ttf')  format('truetype'), url('PoiretOne-Regular.svg#PoiretOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
