{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Online Code And Video For Kids And Teens | Tech Rocket</title>
<link rel="icon" href="{% static '../images/logo/favicon.png'  %} " type="images/logo/favicon.png" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/webjs.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>

<body>
<!--START HEADER-->
<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="container">
<div class="row">
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-10">
<img src="{% static 'images/logo/logo.svg' %}" width="174" height="58" class="margin-top6px">
</div>

<!--START NAVBAR-->
<nav class="col-lg-10 col-md-9 col-sm-12 col-xs-12 navigation overflowhidden padding-right0px margin-topNav768">
    <div class="navbar-header col-lg-12 col-xs-12 padding-right0px">
      <button type="button" class="navbar-toggle margin-right0px" data-toggle="collapse" data-target="#myNavbar">
       <span class="glyphicon glyphicon-th font-size22px"></span>
         <!--<span class="icon-bar"></span>
        <span class="icon-bar"></span> -->
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav">
        <li class="bg-colorActive"><a class="transition" href="../index.html">Code Courses</a></li>
        <li><a class="transition" href="{% url 'game-design' %}">Game Design Courses</a></li>
        <li><a class="transition" href="{% url 'graphic-design' %}">Graphic Design Courses</a></li>
      </ul>
   

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 floatRight">
<div class="borderNone button font-size16px floatRight transition">Sign In</div>
</div>

 </div>
</nav>
<!--END NAVBAR-->

</div>
</div>
</header>
<!--END HEADER-->

<!--START BANNER-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-lightGray">
<div class="container">
<div class="row">
<div class="font-size16px paragraph2 col-lg-7 col-md-8 col-sm-10 col-xs-12">
<div class="col-lg-3 col-md-4 col-sm-4" col-xs-7 screen670>
<img src="{% static 'images/icon/terminal.svg' %}" width="142" height="142" class="">
</div>
<div class="col-lg-9 col-md-7 col-sm-8 padding0px margin-top20px">
<h4 class="margin-bottom0px font-size14px">Path 1 / 3</h4>
<h1 class="colorDarkGray font-familyRobotoSlabRegular margin-0px">Code</h1>
<p>Learn programming with courses on Java, C++, Python &amp; iOS. </p>
</div>
</div>

<a href="../game-design.html" class="slider-next">
<i class="iconArrow fa fa-chevron-right"></i>
<!--<span class="h4">Game Design</span>-->
</a>

<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header menuTabBtn" role="tab" id="headingTwo">
      <h5 class="mb-0 margin-0px">
        <a class="displayblock padding10px" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onClick="chngeMenuIcon()">
          Filter Courses<i id="chngeicon" class="fa fa-caret-down margin-left10px"></i>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse in" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" aria-expanded="true" style="">
      <div class="card-body">
       <nav class="innerMenuTab">
        <ul class="has-path-tab">
        <li class="transition">
        <a class="" href="{% url 'index' %}">View All</a>
        </li>
        <li class="transition menuTabActive menuTabActivePadng2">
        <a class="" href="{% url 'codeCourses/python' %}">Python</a>
        </li>
        <li class="transition">
        <a class="" href="{% url 'codeCourses/java' %}">Java</a>
        </li>
        <li class="transition">
        <a class="" href="{% url 'codeCourses/ios' %}">iOS</a>
        </li>
        <li class="transition">
        <a class="" href="{% url 'codeCourses/Cplus' %}">C++</a>
        </li>
        <li class="transition">
        <a class="" href="{% url 'codeCourses/webDesign' %}">Web Design</a>
        </li>
        <li class="transition">
        <a class="" href="{% url 'codeCourses/hourOfCode' %}">Hour of Code™ on Tech Rocket</a>
        </li>
        </ul>
      </nav>
      </div>
    </div>
  </div>
  
</div>

</div>
</div>
</div>
<!---END BANNER--->

<!--START article-->
<article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-footer">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<h5 class="margin-0px">CHANNEL</h5>
<h2 class="font-familyRobotoSlabRegular colorGreen margin-0px">Python</h2>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 border-leftBeingCont">
Learn Python programming with online courses for kids and teens.
</div>
<a href="{% url 'codeCoursesPythonVideos/python-and-the-curse-of-the-unusually-high-waves' %}"><div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><div class="buttonsBeign width-100per text-aligncenter">BEGIN</div></div></a>

</div>
</div>
</article>
<!---END article--->

<!--START SECTION-->
<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-secImg padding-sectionSubPg overflowhidden">
<div class="container">
<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 margin-auto floatnone">
<!-----------Cource 1------------>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0px">
<!--<h3 class="bg-darkGray colorWhite padding-hedngtab broderRadiusHedngTab margin-0px font-familyRobotoSlabRegular">Python</h3>-->
<aside class="bg-white padding-2020px border-radius0poin5em margin-top40px overflowhidden freetab">
<div class="width-90px height-90px floatleft margin-right20px"><img src="{% static 'images/icon/Python-1.png' %}" class="width-100per border-radius10px"></div>
<h5 class="colorgray font-size125per displayflex margin-top0px">Python and the Curse of the Unusually High Waves</h5>
<p class="course-description displayflex">
New to programming? Not quite sure what’s going on? This free Python course has you covered. Python simplifies coding so that even new users can understand it. Start by getting set up in the environment and going through the basics. Finish by tackling even more Python programming with variables and user input.</p>
<a href="{% url 'codeCoursesPythonVideos/python-and-the-curse-of-the-unusually-high-waves' %}"><div class="buttons">Start New Course</div></a>
</aside>

<aside class="bg-white padding-2020px border-radius0poin5em margin-top40px overflowhidden vertLine">
<div class="width-90px height-90px floatleft margin-right20px"><img src="{% static 'images/icon/Python_Thumb_2_00000.png' %}" class="width-100per border-radius10px"></div>
<h5 class="colorgray font-size125per displayflex margin-top0px">Python and the Crystal Skull: Learning Conditions</h5>
<p class="course-description displayflex">
Now that you've created a program in Python, it's time to test your skills with the mysterious Crystal Skull! Harness it’s power to talk to passing ships—using conditional statements! You’ll learn to bend if/else statements and loops to your will. Then, wrangle lists to create a container for your messages. It’s just another day on the high seas.</p>
<a href="{% url 'codeCoursesPythonVideos/python-and-the-crystal-skull-learning-conditions' %}"><div class="buttons">Start New Course</div></a>
</aside>

<aside class="bg-white padding-2020px border-radius0poin5em margin-top40px overflowhidden vertLine">
<div class="width-90px height-90px floatleft margin-right20px"><img src="{% static 'images/icon/python3.png' %}" class="width-100per border-radius10px"></div>
<h5 class="colorgray font-size125per displayflex margin-top0px">Function Creation in Python</h5>
<p class="course-description displayflex">
You’ve climbed the Python mountain, and there’s one course remaining before you reach the peak. You are going to need methods – self-contained and reusable sections of code that perform specific actions. Methods make writing complicated programs a breeze!</p>
<a href="{% url 'codeCoursesPythonVideos/functionCreation' %}"><div class="buttons">Start New Course</div></a>
</aside>
</div>



</div>
</div>
</section>
<!--END SECTION-->


<!--START FOOTER-->
<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-colorFooter padding-footer">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 overflowhidden floatnone">
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
<img src="{% static 'images/logo/logo.svg' %}" width="135" height="45">
<p class="colorWhite">We are an online learning destination where kids and teens learn code, game design, and graphic design.</p>
<ul class="padding0px socialicon">
<li>FOLLOW US</li>
<li class="transition"><a class="transition" href="#"><span class="fa fa-youtube-play font-size14px"></span></a></li>
<li class="transition"><a class="transition" href="#"><span class="fa fa-facebook font-size14px"></span></a></li>
<li class="transition"><a class="transition" href="#"><span class="fa fa-twitter font-size14px"></span></a></li>
</ul>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 border-leftfotCont padding0px navFotul">
<ul>
<li><a href="#">Browse Courses</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">Instructors</a></li>
<li><a href="#">Enroll</a></li>
<li><a href="#">Sign In</a></li>
</ul>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 border-leftfotCont padding0px navFotul">
<ul>
<li><a href="#">Arcade</a></li>
<li><a target="_blank" href="#">Forums</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 border-leftfotCont paddingFotTxt768">
<h5 class="fotTxt margin-0px">ADDRESS</h5>
<p class="colorWhite margin-0px">910 E. Hamilton Ave, Ste. 300 Campbell, CA 95008</p>

<h5 class="fotTxt margin-0px">CONTACT</h5>
<p class="colorWhite margin-0px">Mon–Fri, 8am–3pm Pacific<br> 1-844-662-RCKT (7258)<br> 1-408-637-2400 (International)</p>
<a class="fottxtlink" href="#">info@techrocket.com</a>

<h5 class="fotTxt margin-0px margin-top20px">SCHOOL & GROUP SALES</h5>
<a class="fottxtlink" href="#">sales@techrocket.com</a>
</div>

</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 overflowhidden fotTxtColor2 font-size13px floatnone margin-auto margin-top20px">
<p>The Hour of Code™ is a nationwide initiative by Computer Science Education Week and Code.org to introduce millions of students to one hour of computer science and computer programming.</p>
<p>TECH ROCKET COURSES ARE NOT OFFICIAL MINECRAFT® PRODUCTS. 
THEY ARE NOT APPROVED BY, OR ASSOCIATED WITH MOJANG®.</p>
<p>© Tech Rocket / internalDrive, Inc. All Rights Reserved. 
All trademarks are the properties of their respective owners.</p> 
</div>

</div>
</div>
</footer>
<!--END FOOTER-->

</body>
</html>
